.auth-role{
    .el-dialog{
        height: 60vh;
        overflow: scroll;
        .el-dialog__header{
            position: sticky;
            top: 0;
            background: white;
            z-index: 1;
            border-radius: 5px;
        }
    }
    .pagination-container{
        margin-top: 0;
        padding: 8px 16px !important;
    }
    .filter-container{
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 0;
    }
    .el-table thead .cell{
        line-height: 24px;
    }
    .el-table tbody .cell{
        line-height: 16px;
        padding: 0;
    }
    .el-table--mini td, .el-table--mini th {
        padding: 3px 0;
        text-align: center;
    }

}