.internal-role-list {
  .role-list-tabel-css {
    box-shadow: 0 3px 10px rgba(46, 8, 8, 0.1)
  }
  .text-position-right{
    text-align:right
  }
  .text-position-center{
    text-align:center
  }
  .marginLeft50-width400 {
    width: 400px;
    margin-left:50px;
  }
  .color67c23a {
    color: #67C23A;
  }
  .colore6a23c {
    color:#E6A23C
  }
}